<html>

<head>

</head>
<body>

<h1>Add Transportation {{maker_name}}</h1>

<form action="#" method = 'post'>

	<p>Maker:</p>
		<input type ='text' size='30' name='maker' value="{{maker_name}}">
	<p>Model:</p>
		<input type ='text' size='30' name='model'>
	<p>Year:</p>
		<input type ='text' size='30' name='year'>
	<p>Trim:</p>
		<input type ='text' size='30' name='trim'>
	<p>Mileage:</p>
		<input type ='text' size='30' name='mileage'>
	<p>Vin:</p>
		<input type ='text' size='30' name='vin'>
	<p>Price:</p>
		<input type ='text' size='30' name='price'>
	<p>Description:</p>
		<input type ='text' size='30' name='description'>
	<p><input type ='checkbox'  name='automatic' value='true' >Automatic Transmission</p>
	<p>Location:</p>
	<p>Images:</p>
	<br/>


<input type='submit' value='Create'>

</form>

</body>
</html>