{% extends "layout.html" %}
{% block title %}CarPop.{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
<body>
{% block header %}

{{ super() }}
    
        <!--Carousel Wrapper-->
        <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
    
          <!--Indicators-->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
          </ol>
          <!--/.Indicators-->
    
          <!--Slides-->
          <div class="carousel-inner" role="listbox">
    
            <!--First slide-->
            <div class="carousel-item active">
              <div class="view" style="background-image: url('{{ url_for('static', filename='img/AdobeStock_123522493 900.jpg') }}'); background-repeat: no-repeat; background-size: cover;background-position: 10% 90%;">
              <!-- <img src="{{ url_for('static', filename='nature7.jpg') }}">  -->
                <!-- Mask & flexbox options-->
                <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
    
                  <!-- Content -->
                  <div class="text-left white-text mx-5 wow fadeIn">
                      <h1 class="mb-4">
                          <span style="font-weight: 900; font-size: 150%;" class="h1">The CarPopStar<sup><span class="text-small h6"><i class=" text-small fa fa-star" aria-hidden="true"></i></span></sup><br/>Promise to You</span> 
                        <!-- <strong style="font-weight: 900">C&C Auto Sales and Repair<br/> 
                        Promise to You</strong> -->
                      </h1>
      
                      <p class="mb-3 d-none d-md-block" style="font-size: 150%;">
                        <strong>CarPopStar helps buyers find the <br/>best priced used vehicles on the market.</strong>
                      </p>
      
                      <a target="_blank" href="#" class="btn btn-primary disabled">Find your next car
                      </a>
                    </div>
                    <!-- Content -->
    
                </div>
                <!-- Mask & flexbox options-->
    
              </div>
            </div>
            <!--/First slide-->
    
            <!--Second slide-->
            <div class="carousel-item">
              <div class="view" style="background-image: url('{{ url_for('static', filename='img/AdobeStock_123522493 900.jpg') }}'); background-repeat: no-repeat; background-size: cover;background-position: 10% 90%;">
    
                <!-- Mask & flexbox options-->
                <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
    
                  
    
                </div>
                <!-- Mask & flexbox options-->
    
              </div>
            </div>
            <!--/Second slide-->
    
            
    
          </div>
          <!--/.Slides-->
    
          <!--Controls-->
          <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <!--/.Controls-->
    
        </div>
        <!--/.Carousel Wrapper-->
    
{% endblock %}  
    
{% block content %}
<div  style="background-color: #f0f2f4;"  >
  <div class="container" style="padding:25px;">
    <div class="row d-flex justify-content-left">
  <div class=" col-4">
     <h2>Sell Your Car</h2>
     <h6>Make more money when you sell your car yourself. Choose a package and price that works for you.</h6>
     <button type="button" class="btn btn-primary btn-sm" disabled>Create Your Ad</button>
     <button type="button" class="btn btn-primary btn-sm" disabled>Manage Your Ad</button>
    </div>
   <div class="col-1">

   </div>
   <!-- <div class="col-4">
      <h2>CarPopStar Value</h2>
      <h6>Find out what your car is worth to an individual buyer or dealer in your area and decide how to sell or trade.</h6>
      <button type="button" class="btn btn-primary btn-sm" disabled>Get CarPopStar Value</button>
    </div> -->
   </div>
   </div>
</div>

<div class = "container" style="margin-top:60px;margin-bottom:60px;">
<!-- <p class="h6">Popular Vehicles</p> -->
<!-- <br/><br/> -->
<p class="h6">Popular Car Makes ({{makers|length}})</p>
<div class="columns" style="margin-top:15px;">
<ul class="text-small">

    {% for gMaker in globalMakers %}
      {% if gMaker.make_is_common == "1": %}
        {% for maker in makers %}
          {% if maker.name == gMaker.make_display: %}
           <li><a class="text-primary col-3" href = "{{url_for('showTransportation', maker_id = maker.id)}}"><b>{{gMaker.make_display}}</b></a></li>
       {% endif%}
      {% endfor %} 
      {%else%}  
      <li class="text-muted col-3">{{gMaker.make_display}}</li>
    {% endif %}
{% endfor %}

</ul>
</div>
</div>
{% endblock %}


